body,
html {
  margin: 0;
  div#root {
    div.box-content {
      border: 2px solid lightgray;
      border-radius: 0 0 10px 10px;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      div.carousel {
        width: 100%;
      }
      div.MuiFormControl-root {
        margin-bottom: 2rem;
        width: 100px;
      }
      div.breed-details {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        span {
          margin-bottom: 1rem;
        }
      }
      ul.MuiImageList-root {
        svg {
          position: absolute;
          cursor: pointer;
          z-index: 1000;
          right: 0;
          &.MuiSvgIcon-colorPrimary {
            right: 2rem;
          }
        }
      }
      button.load-more-btn {
        width: 120px;
        margin-top: 1rem;
      }
    }
  }
}
